html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 60px 15px 20px;
}

#footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 19.5px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 19.5px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

#header
{
    color: #309;
    font-family:Arial, Helvetica, sans-serif;
    font-style:italic;
    font-size:36px;
    margin: 0;
    padding: 0;
    height:150px;
    width:100%;
    border-bottom: 1px solid #1f6fb2;
    margin-bottom: 20px;
}
#logo {
    background-image:url(img/logo.png);
    background-repeat:no-repeat;
    background-position:left bottom;
    font-size: 200%;
    margin-left: 20px;
    height:100%;
    width:100%;
}
#logo span
{
    background: url("img/gradient_text.png") repeat-x scroll 0 0 transparent;
    width:100%;
    display: block;
    height: 49px;
    position: absolute;
    bottom: 0.1em;
}
#mainmenu {
    background-color: #025f92;
    background-image: -moz-linear-gradient(top,#045987,#0069A3);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#045987),to(#0069A3));
    background-image: -webkit-linear-gradient(top,#045987,#0069A3);
    background-image: -o-linear-gradient(top,#045987,#0069A3);
    background-image: linear-gradient(to bottom,#045987,#0069A3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff045987', endColorstr='#ff0069a3', GradientType=0);
    border: 1px solid transparent;
    box-shadow: 0 0 5px #FFFFFF inset;
    padding-top: 0;
    padding-bottom: 0;
}

#mainmenu.navbar-dark .navbar-nav .nav-link {
    color: #F5F4FF;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    padding: 12px 20px;
}
#mainmenu.navbar-dark .navbar-nav .brand,
#mainmenu.navbar-dark .navbar-nav .nav-link {
    color: #F5F4FF;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}
#mainmenu.navbar-dark .brand:hover,
#mainmenu.navbar-dark .navbar-nav .brand {
    color: #F5F4FF;
}
#mainmenu.navbar-dark .navbar-nav .nav-item:focus,
#mainmenu.navbar-dark .navbar-nav .nav-item:hover {
    background-color: transparent;
    color: #fff;
    border: 1px solid transparent;
    box-shadow: 0 0 5px #FFFFFF inset;
}
#mainmenu.navbar-dark .navbar-nav .nav-item.active,
#mainmenu.navbar-dark .navbar-nav .nav-item.active ,
#mainmenu.navbar-dark .navbar-nav .nav-item.active:focus {
    color: #fff;
    background-color: #0069A3;
    border: 1px solid transparent;
    box-shadow: 0 0 5px #FFFFFF inset;
}
#mainmenu.navbar-dark .navbar-nav .nav-link {
    color: #F5F4FF;
}
#mainmenu.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}
.portlet-decoration
{
    padding: 10px 8px;
    border: 1px solid transparent;
    background:#67ADFA;
    background: -webkit-gradient(linear, left top, left bottom, from(#007AAF), to(#005394));
    background: -moz-linear-gradient(top,  #007AAF, #005394);
    background-image: -o-linear-gradient(top,  #007AAF,  #005394);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#007AAF', endColorstr='#005394');
    box-shadow: 0 0 5px #FFFFFF inset;
    border-radius: 4px;
}
.portlet-title
{
    font-size: 14pt;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #F5F4FF;
    display: block;
    width: 100%;
    height: 100%;
}
/* readmore-block */
.b-readmore {
    padding: 15px 0 0 0;
}
.b-readmore__link {
    color: #000;
    text-decoration: underline;
}
.b-readmore__link:hover, .b-readmore__link:focus, .b-readmore__link:active {
    color: #000;
    text-decoration: none;
}
.b-readmore__open {
    display: inline-block;
}
.b-readmore__close {
    display: none;
}
.b-readmore--opened .b-readmore__open {
    display: none;
}
.b-readmore--opened .b-readmore__close {
    display: inline-block;
}
.b-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

.b-block {
    display: inline-block;
    vertical-align: top;
    padding: 20px 30px;
    margin: 0 15px;
    font: 14px/1.2 Arial, sans-serif;
}
.b-block p {
    margin: 0 0 15px 0;
    padding: 0;
}
.b-block ul {
    list-style-type: disc;
    margin: 0 0 15px 20px;
}
.b-block li {
    padding: 0 0 0 10px;
}
.b-block--first {
    width: 400px;
    background: #2ecc71;
}
.b-block--second {
    width: 250px;
    background: #3498db;
}
.b-block-text {
    width: 100%;
    background: #e67e22;
}
.full-time {
    padding: 7px;
    border-radius: 10px;
    background: #0000aa;
    color: #ffffff;
    display: inline-block;
}
.location {
    padding: 7px;
    border-radius: 10px;
    background: #00b3ee;
    color: #ffffff;
    display: inline-block;
}
.category {
    padding: 7px;
    border-radius: 10px;
    background: #00a379;
    color: #ffffff;
    display: inline-block;
    margin: 5px;
}
.just-padding {
    padding: 15px;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}
#archive_blog .nav-item {
    display: block;
    width: 100%;
    border: 1px solid rgba(0,0,0,.125);
}
.items-list .item {
    border-bottom: 1px solid #ededed;
    padding: 24px 0 21px;
    position: relative;
    min-height: 111px;
}
.items-list .item .title {
    font-weight: bold;
    font-size: 21px;
}
.items-list .item .title a:visited {
    color: #999999;
}
.items-list .item .title a {
    color: #464646;;
}
.items-list .item .date {
    font-size: 15px;
    font-weight: normal;
    color: #999999;
    float: right;
}
.category-service-select .drilldown-wrapper select {
    padding: 5px;
    margin-right: 10px;
}
.syntaxhighlighter .toolbar {
    display: none !important;
}
.syntaxhighlighter table .container:before {
    display: none !important;
}
#tags_cloud {
     padding: 12px;
}